<h1>
  Add a new interview invite
</h1>


<hr>

<form action="/create_interview_invite" method="post">

  <div class="form-group">
    <label for="residency_program_id">
      Residency program
    </label>

    <%= select_tag(:residency_program_id, options_from_collection_for_select(ResidencyProgram.all, :id, :state, @interview_invite.residency_program_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="invite_received_date">
      Invite received date
    </label>

    <input type="text" id="invite_received_date" name="invite_received_date" class="form-control">
  </div>

  <div class="form-group">
    <label for="invitee_id">
      Invitee
    </label>

    <%= select_tag(:invitee_id, options_from_collection_for_select(User.all, :id, :email, @interview_invite.invitee_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create interview invite
  </button>
</form>

<hr>

<a href="/interview_invites">
  Go back
</a>
