<form action="/create_interview_invite_from_residency_program" method="post">

  <input type="hidden" name="residency_program_id" value="<%= @residency_program.id %>">

  <div class="form-group">
    <label for="invite_received_date">
      Invite received date
    </label>

    <input type="text" id="invite_received_date" name="invite_received_date" class="form-control" value="<%= @interview_invite.invite_received_date %>">
  </div>

  <div class="form-group">
    <label for="invitee_id">
      Invitee
    </label>

    <%= select_tag(:invitee_id, options_from_collection_for_select(User.all, :id, :email, @interview_invite.invitee_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create interview invite
  </button>
</form>
