<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Interview Invites

    <a data-toggle="collapse" href="#residency_program_interview_invites_new_form">
      Add interview invite
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @residency_program.interview_invites.each do |interview_invite| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/interview_invites/<%= interview_invite.id %>">
          <%= interview_invite.residency_program_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_interview_invite_from_residency_program/<%= interview_invite.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="residency_program_interview_invites_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
