<form action="/create_interview_from_residency_program" method="post">

  <input type="hidden" name="residency_program_id" value="<%= @residency_program.id %>">

  <input type="hidden" name="interviewee_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="interview_date">
      Interview date
    </label>

    <input type="text" id="interview_date" name="interview_date" class="form-control" value="<%= @interview.interview_date %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create interview
  </button>
</form>
